/* Debian language css file for bulgarian - bg */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes */
html[lang=bg] q:before { content: "\201E"; }
html[lang=bg] q:after { content: "\201C"; }

html[lang=bg] blockquote.quote p:first-child:before { content: "\201E"; }
html[lang=bg] blockquote.quote p:after { content: ""; }
html[lang=bg] blockquote.quote p.last:after { content: "\201C"; }

/*
html[lang|="bg"] q:before { content: "\00AB"; }
html[lang|="bg"] q:after { content: "\00BB"; }
*/
